@CHARSET "UTF-8";

.headPhoto {
	width: 180px;
}
.container {
	width: 700px;
	
}
.table {
	vertical-align: middle;
}
.title {
	width:500px;
	float:left;
	
}
.copyright {
	text-align:center;
	color:blue;
}